flows.json
[
    {
        "id": "56e14161.2a5c3",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f6bfb94c.4f4da8",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "91cf290c.101b88",
        "type": "ibmiot",
        "z": "",
        "name": "",
        "keepalive": "60",
        "serverName": "",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "ede986.540a0678",
        "type": "ui_tab",
        "z": "",
        "name": "SmartAgriculture",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e4920d9d.8703a",
        "type": "ui_group",
        "z": "",
        "name": "IoT",
        "tab": "ede986.540a0678",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c00b6a40.677d68",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4717f393.9aa74c",
        "type": "ibmiot in",
        "z": "56e14161.2a5c3",
        "authentication": "apiKey",
        "apiKey": "91cf290c.101b88",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "123456789",
        "applicationId": "",
        "deviceType": "nodemcu",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 70,
        "y": 180,
        "wires": [
            [
                "399e1a6d.658166",
                "643f47d8.522038",
                "48e42bfa.bb57e4",
                "ab217863.f77568"
            ]
        ]
    },
    {
        "id": "ab217863.f77568",
        "type": "debug",
        "z": "56e14161.2a5c3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 710,
        "y": 300,
        "wires": []
    },
    {
        "id": "399e1a6d.658166",
        "type": "function",
        "z": "56e14161.2a5c3",
        "name": "temp",
        "func": "msg.payload=msg.payload.d.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 140,
        "wires": [
            [
                "ab217863.f77568",
                "ca67eda7.7cd4f"
            ]
        ]
    },
    {
        "id": "ca67eda7.7cd4f",
        "type": "ui_gauge",
        "z": "56e14161.2a5c3",
        "name": "",
        "group": "e4920d9d.8703a",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "Degree Celsius",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 630,
        "y": 140,
        "wires": []
    },
    {
        "id": "48e42bfa.bb57e4",
        "type": "function",
        "z": "56e14161.2a5c3",
        "name": "Humidity",
        "func": "msg.payload=msg.payload.d.humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 220,
        "wires": [
            [
                "ab217863.f77568",
                "24636831.f7bac8"
            ]
        ]
    },
    {
        "id": "643f47d8.522038",
        "type": "function",
        "z": "56e14161.2a5c3",
        "name": "objectTemp",
        "func": "msg.payload=msg.payload.d.objectTemp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 180,
        "wires": [
            [
                "ab217863.f77568",
                "90f97d71.4049"
            ]
        ]
    },
    {
        "id": "24636831.f7bac8",
        "type": "ui_gauge",
        "z": "56e14161.2a5c3",
        "name": "",
        "group": "e4920d9d.8703a",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "Percentage",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 620,
        "y": 220,
        "wires": []
    },
    {
        "id": "90f97d71.4049",
        "type": "ui_gauge",
        "z": "56e14161.2a5c3",
        "name": "",
        "group": "e4920d9d.8703a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Object Temperature",
        "label": "Degree Celsius",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 650,
        "y": 180,
        "wires": []
    },
    {
        "id": "bd0ab401.b545a8",
        "type": "http request",
        "z": "56e14161.2a5c3",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "api.openweathermap.org/data/2.5/weather?q=Siliguri, IN&appid=b46917f569aaf7646964adf2d2c476e7",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 290,
        "y": 440,
        "wires": [
            [
                "ab217863.f77568",
                "9dd7366c.b54f38",
                "a272de17.5034f",
                "6cd40ca7.772234",
                "1eb8cdc1.b88052"
            ]
        ]
    },
    {
        "id": "dbfc08ee.f118c8",
        "type": "inject",
        "z": "56e14161.2a5c3",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 440,
        "wires": [
            [
                "bd0ab401.b545a8"
            ]
        ]
    },
    {
        "id": "83ba2017.d461b",
        "type": "ibmiot out",
        "z": "56e14161.2a5c3",
        "authentication": "apiKey",
        "apiKey": "91cf290c.101b88",
        "outputType": "cmd",
        "deviceId": "123456789",
        "deviceType": "nodemcu",
        "eventCommandType": "data",
        "format": "json",
        "data": "data",
        "qos": 0,
        "name": "IBM IoT",
        "service": "registered",
        "x": 440,
        "y": 60,
        "wires": []
    },
    {
        "id": "587bc21.eb1353c",
        "type": "ui_button",
        "z": "56e14161.2a5c3",
        "name": "",
        "group": "e4920d9d.8703a",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Motor OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 200,
        "y": 80,
        "wires": [
            [
                "83ba2017.d461b"
            ]
        ]
    },
    {
        "id": "77a01980.94e518",
        "type": "ui_button",
        "z": "56e14161.2a5c3",
        "name": "",
        "group": "e4920d9d.8703a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Motor ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 190,
        "y": 40,
        "wires": [
            [
                "83ba2017.d461b"
            ]
        ]
    },
    {
        "id": "9dd7366c.b54f38",
        "type": "function",
        "z": "56e14161.2a5c3",
        "name": "Temperature",
        "func": "msg.payload=msg.payload.main.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 380,
        "wires": [
            [
                "c3b4da17.c4dab8"
            ]
        ]
    },
    {
        "id": "a272de17.5034f",
        "type": "function",
        "z": "56e14161.2a5c3",
        "name": "Pressure",
        "func": "msg.payload=msg.payload.main.pressure;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 420,
        "wires": [
            [
                "aaf5f15c.3bb9e"
            ]
        ]
    },
    {
        "id": "6cd40ca7.772234",
        "type": "function",
        "z": "56e14161.2a5c3",
        "name": "Humidity",
        "func": "msg.payload=msg.payload.main.humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 460,
        "wires": [
            [
                "4524c059.869a7"
            ]
        ]
    },
    {
        "id": "1eb8cdc1.b88052",
        "type": "function",
        "z": "56e14161.2a5c3",
        "name": "Wind Speed",
        "func": "msg.payload=msg.payload.wind.speed;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 500,
        "wires": [
            [
                "f75aa831.2082e8"
            ]
        ]
    },
    {
        "id": "c3b4da17.c4dab8",
        "type": "ui_gauge",
        "z": "56e14161.2a5c3",
        "name": "",
        "group": "e4920d9d.8703a",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "Kelvin",
        "format": "{{value}}",
        "min": "273",
        "max": "373",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 730,
        "y": 380,
        "wires": []
    },
    {
        "id": "aaf5f15c.3bb9e",
        "type": "ui_gauge",
        "z": "56e14161.2a5c3",
        "name": "",
        "group": "e4920d9d.8703a",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Pressure",
        "label": "milibars",
        "format": "{{value}}",
        "min": 0,
        "max": "1013",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 720,
        "y": 420,
        "wires": []
    },
    {
        "id": "4524c059.869a7",
        "type": "ui_gauge",
        "z": "56e14161.2a5c3",
        "name": "",
        "group": "e4920d9d.8703a",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "Percentage",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 720,
        "y": 460,
        "wires": []
    },
    {
        "id": "f75aa831.2082e8",
        "type": "ui_gauge",
        "z": "56e14161.2a5c3",
        "name": "",
        "group": "e4920d9d.8703a",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Wind Speed",
        "label": "km/hr",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 710,
        "y": 500,
        "wires": []
    }
]